@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

body {
  margin: 0;
  height: 100vh;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
}

.css-ahj2mt-MuiTypography-root {
  font-family: inherit !important;
}

.super-row {
  border: 1px solid #868686;
  border-radius: 10px;
  padding: 25px 0;
}
